.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    background-color: pink;
}

.box{
    border-radius: 8px;
    /* border-color: red; */
    background-color: red;
}

.input-data{
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    background-color: aqua;
}

.output-data{
    grid-column: 4 / 5;
    grid-row: 2 / 5;
    background-color: yellow;
}

.small-map{
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    background-color: blueviolet;
}

.big-map{
    grid-column: 1 / 4;
    grid-row: 2 / 5;
    background-color: chocolate;
}

#map{
    height: 70vh; 
    width: 100%;
}
